"vetur.format.defaultFormatterOptions": {
    "js-beautify-html.wrap_attributes":  "auto",
    "prettyhtml.wrapAttributes": false,
    "prettyhtml.printWidth": 0,
    "prettier.semi": false,
    "prettier.singleQuote": true,
    "prettier.eslintIntegration": true,
    "prettier.trailingComma": "none",
    "prettier.printWidth": 0,
  }