
html{
    direction: rtl;
}

.custom-control {
    padding-right: 1.5rem;
    padding-left: revert;
}
.custom-control-inline {
    margin-left: 1rem;
    margin-right: revert;
}

.custom-control-input {
    right: 0;
    left:revert;
}

.custom-control-label::before{
    right: -1.5rem;
    left: revert;
}

.custom-control-label::after{
    right: -1.5rem;
    left: revert;
}

h2 small{
    font-size:0.6em;
}

.nav {
    padding-left: revert;
    padding-right: 0;

}