html{
    direction: rtl;
}

h2 small{
    font-size:0.6em;
}

.nav {
    padding-left: revert;
    padding-right: 0;

}



.custom-control {
    padding-right: 1.5rem;
    padding-left: revert;
}
.custom-control-inline {
    margin-left: 1rem;
    margin-right: revert;
}

.custom-control-input {
    right: 0;
    left:revert;
}

.custom-control-label::before{
    right: -1.5rem;
    left: revert;
}

.custom-control-label::after{
    right: -1.5rem;
    left: revert;
}

.form-check-input {
	margin-left: 0;
	margin-right: -1.25rem;
}

.form-check {
	padding-left: 0;
	padding-right: 1.25rem;
}

.form-check-inline {
	padding-right: 0;
	margin-right: 0;
	margin-left: .75rem;
}


.custom-checkbox.b-custom-control-sm, .input-group-sm .custom-checkbox{
    padding-left: inherit;
}
