body {
	text-align: right;
	font-family: 'Noto Naskh Arabic', Arial, Helvetica, sans-serif;
	font-size: 18px;
}

.rainbow {
	display: block;
	height: 7px;
	background: url('../img/rainbow.png') repeat scroll -500% 0px #FFF;
}


nav {
	background-color: #ff7444 !important;
	border-color: transparent;

	.offcanvas{
		background-color: #ac4a29 !important;
	}
}

.jokes article {
	border-right: 4px solid #bfbfbf;

	&:nth-child(even) {
		background-color: rgba(255, 255, 255, 0.1);
		border-right-color: #ffe691;
	}
}

#comments {
	.comments-loop {
		.comment{
			font-size:0.95rem;
			border-bottom: 1px dashed #aaa;

			&:hover{
				background-color: #efefef;
			}
		}
	}
}