@import url('./_aside.scss');

.why {
	background-color: red;
}

body {
	text-align: right;
	font-family: 'Noto Naskh Arabic', Arial, Helvetica, sans-serif;
	font-size: 18px;
}

.modal-header .close {
	margin: -1rem auto -1rem -1rem;
}

.form-check-input {
	margin-left: 0;
	margin-right: -1.25rem;
}

.form-check {
	padding-left: 0;
	padding-right: 1.25rem;
}

.form-check-inline {
	padding-right: 0;
	margin-right: 0;
	margin-left: .75rem;
}

.specialAlert:empty {
	display: none;
}

.rainbow {
	display: block;
	height: 5px;
	background: url('../img/rainbow.png') repeat-x scroll -500% 0px #FFF;
}

nav .container-xl {
	padding-right: 0;
	padding-left: 0;
}

nav.navbar.bg-dark {
	background-color: #ff7444 !important;
	border-color: transparent;
}

nav .navbar-brand {
	width: 117px;
	background: url('../img/Logo.png')no-repeat;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 50px;
	margin-right: 0;
	margin-left: 1rem;
}


.dropdown-toggle::after {
	margin-right: .255em;
	margin-left: 0;
}

.dropdown-menu {
	top: 100%;
	left: auto;
	right: 0;
	float: right;
	text-align: right;

	
}

.dropdown-item {
    color: inherit;
}

.nav-link {
	padding-right: 2rem;
	padding-left: 2rem;
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 1rem;
		padding-left: 1rem;
	}
}


.jokes article {
	border-right: 4px solid #bfbfbf;
}

section.jokes article:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.05);
	border-right-color: #ffe691;
}

.list-inline-item:not(:last-child) {
	margin-left: .5rem;
	margin-right: 0;
}